<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <p> Tu wstaw linki (tzn adres obrazu zdjęcia ) ze zdjec googla</p>
    <%= text_field_tag(:pole0) %>
    <%= text_field_tag(:pole1) %>
    <%= text_field_tag(:pole2) %>
    <%= text_field_tag(:pole3) %>
    <%= text_field_tag(:pole4) %>
    <%= text_field_tag(:pole5) %>
    <%= text_field_tag(:pole6) %>
    <%= text_field_tag(:pole7) %>
    <%= text_field_tag(:pole8) %>
    <%= text_field_tag(:pole9) %>
    <%= submit_tag("Generuj kod", {:onclick => 'link();', class: "btn btn-primary"}) %>

    <div id="wynik"></div>

     </div>


  <div class="col-md-4"></div>
</div>
